@font-face {

	font-family:raleway;
	src:url('../Fonts/Raleway-Light.ttf');
}

@font-face {

	font-family:raleway-bold;
	src:url('../Fonts/Raleway-ExtraBold.ttf');
}


/*------------------------------------*/

body {

  margin:0px;
}

.product-banner-right {

	width:100%;
}

.product-content-right {

	width:90%;
	height:400px;
	background-color:#F6F6F6 ;
}


.content-description-right {

    width:100%;
	padding-right:40%;
	padding-left:40%;
	padding-top:2%;
	height:200px;
	position:relative;
	left:5%;
	background:transparent;
	font-family:raleway;
	font-weight:bold;
	font-size:18px;
}

.content-description-right h1 {

    color:#03A2E3;
	font-size:38px;
}

.product-title-right span {


	font-family:raleway-bold;
}

.content-description-right {

	text-align:right;
}

.readmore-product-right {

	position:relative;
	top:-50px;

}

.readmore-product-right:hover {

	background:#0586EA;
	border-color:#0586EA;
	transition:1s ease-out;
}


.readmore-product-right:hover > a {

		color:#fff;
		
}
.readmore-product-right a {

	text-decoration:none;
	color:#000;
}

.readmore-product-right span {

	position:relative;
	left:60%;
	
}



.packing-image-right {

	
	position:relative;
	top:300px;
	left:2%;
}


.candy-image-right {

	text-align:right;
}

.candy-image-right img {

    
	width:30%;
	position:relative;
	top:-350px;
}

.readmore-product-right {

    position:relative;
    top:10px;
	background:transparent;
	border:2px solid #000;
	border-radius:30px;
	padding-top:3%;
	padding-bottom:3%;
	padding-right:20%;
	padding-left:3%;
}

.readmore-product-right img{

 position:relative;
 
}