@font-face {

 font-family:raleway;
 src:url(Fonts/Raleway-Light.ttf);
}

@font-face {

	font-family:raleway-bold;
	src:url('Fonts/Raleway-ExtraBold.ttf');
}

-------------------------------------------

html {

overflow-x:hidden;

}

body {

	margin:0px;
	overflow-x:hidden;

}

.banner-icon-company {

	
	width:40%;
	height:300px;
	position:relative;
	left:30%;
	top:200px;
	z-index:0;
}

.readmore-banner {

	position:relative;
	left:43%;
	top:250px;
	z-index:1;
}

.readmore-banner button {

	padding-top:1%;
	padding-right:5%;
	padding-left:1%;
	padding-bottom:1%;
	background:rgba(255, 255, 255, 0.2);
	border:2px solid #fff;
	border-radius:30px;
}

.readmore-banner button:hover {

	background:#0586EA;
	border-color:#0586EA;
	transition:1s ease-out;
}

.readmore-banner button a {

	font-size:18px;
	font-family:raleway;
	font-weight:bold;
	text-decoration:none;
	color:#fff;
}

.readmore-banner button a span {

	position:relative;
	left:40%;
}


.principal-banner {


background-image:url("../img/valentine.jpg");

	width:100%;
	height:950px;
	position:relative;
	z-index:0;

}

.navigation {

	position:relative;
	left:95%;
	top:50px;
	z-index:2;
}

.navigation li {

	list-style:none;
	padding-top:1%;
}

.navigator {

	 width:1%;
     height: 20px;
     -moz-border-radius: 90%;
     -webkit-border-radius: 90%;
     border-radius: 90%;
     background:#fff;
     border:none;
}

.navigator:hover {

    border:2px solid #fff;
	background:transparent;
	

	}

.product-banner {

	width:100%;
	position:relative;

}

.product-content {

	width:100%;
	height:400px;
	background-color:#F6F6F6 ;
}


.content-description {

    width:80%;
	padding-right:30%;
	padding-left:30%;
	padding-top:2%;
	height:200px;
	position:relative;
	left:5%;
	background:transparent;
	font-family:raleway;
	font-weight:bold;
	font-size:18px;
}

.content-description h1 {

    color:#03A2E3;
	font-size:38px;
}

.product-title span {


	font-family:raleway-bold;
}

.description-product{

	text-align:left;
}

.readmore-product {

	position:relative;
	top:-50px;

}

.readmore-product:hover {

	background:#0586EA;
	border-color:#0586EA;
	transition:1s ease-out;
}


.readmore-product:hover > a {

		color:#fff;
		
}

.readmore-product:hover > a > span {

		color:#fff;
		
}


.readmore-product a {

	text-decoration:none;
	color:#000;
}

.readmore-product span {

	position:relative;
	left:60%;
	
}



.packing-image {

	text-align:right;
	position:relative;
	top:300px;
	left:-5%;
}

.candy-image img {
    width: 100%;
	height: 350px;
    position: relative;
    top: 50px;
    left: -15%;
}

.padding-right-positive{
	width:  50%;

}

.readmore-product {

    position:relative;
    top:10px;
	background:transparent;
	border:2px solid #000;
	border-radius:30px;
	padding-top:3%;
	padding-bottom:3%;
	padding-right:20%;
	padding-left:3%;
}

.readmore-product img{

 position:relative;
 
}

.product-banner-right {

	width:100%;
}

.product-content {
    width: 93%;
    height: 260px;
    background-color: #F6F6F6;
    float: right;
    margin-top: 200px;
}



.product-content:nth-of-type(odd) > .product-image{
	float: left;
}

.product-content:nth-of-type(odd) > .product-image > .candy-image{
	position: relative;
    left: -15%;
}

.product-content:nth-of-type(even) {
	float: left;
}

.product-content:nth-of-type(even) > .product-image > .candy-image > img{
	position: relative;
    left: 15%;
}

.product-content:nth-of-type(even) > .product-text > .container > .padding-right-positive{
	text-align:  right;
}


.product-content:nth-of-type(even) > .product-image{
	float: right;
}
.product-content:nth-of-type(odd) > .product-text{
	float: right;
}
.product-content:nth-of-type(even) > .product-text{
	float: left;
}

.col-md-6.product-image-list img:nth-of-type(odd){

	float:left;
}

.col-md-6.product-image-list img:nth-of-type(even){

	float:right;
}



.content-description-right {

    width:100%;
	padding-right:40%;
	padding-left:40%;
	padding-top:2%;
	height:200px;
	position:relative;
	left:5%;
	background:transparent;
	font-family:raleway;
	font-weight:bold;
	font-size:18px;
}

.content-description-right h1 {

    color:#03A2E3;
	font-size:38px;
}

.product-title-right span {


	font-family:raleway-bold;
}

.content-description-right {

	text-align:right;
}

.readmore-product-right {

	position:relative;
	top:-50px;

}

.readmore-product-right:hover {

	background:#0586EA;
	border-color:#0586EA;
	transition:1s ease-out;
}


.readmore-product-right:hover > a {

		color:#fff;
		
}
.readmore-product-right a {

	text-decoration:none;
	color:#000;
}

.readmore-product-right span {

	position:relative;
	left:60%;
	
}



.packing-image-right {

	
	position:relative;
	top:300px;
	left:2%;
}


.candy-image-right {

	text-align:right;
}

.candy-image-right img {

    
	width:30%;
	position:relative;
	top:-350px;
}

.readmore-product-right {

    position:relative;
    top:10px;
	background:transparent;
	border:2px solid #000;
	border-radius:30px;
	padding-top:3%;
	padding-bottom:3%;
	padding-right:20%;
	padding-left:3%;
}

.readmore-product-right img{

 position:relative;
 
}

.image-banner {

	background-image:url('../img/descargar.png');
	width:80%;
	height:600px;
	position: relative;
    left: 10%;
}


.image-banner:hover {

	background:#ADDFEA;
	transition:1s ease-out;
}

.text-content-banner {

    background:rgba(255, 255, 255, 0.5);
    padding-top:5%;
	padding-left:5%;
	padding-right:30%;
	padding-bottom:8%;
	text-align:left;
	font-family:raleway-bold;
	color:#000;
	position:relative;
	top:480px;
}

.readmore-image-banner {

    padding-top:2%;
	padding-right:15%;
	padding-left:1%;
	padding-bottom:2%;
	background:rgba(255, 255, 255, 0.2);
	border:2px solid #000;
	border-radius:30px;
	color:#000;

}


.readmore-image-banner a{

	font-family:raleway-bold;
	color:#000;
	text-decoration:none;
	font-size:12px;
	position:relative;
	left:10%;
}

.banner-ubication {

	width:168%;
	margin:0px;
	position:relative;
	left:-35%;
	height:800px;
	background-image:url("../img/nasa.jpg");
	
}

.banner-content {

	padding-top:12%;
	padding-left:60%;
	padding-right:12%;
	width:100%;
	font-family:raleway;
	color:#fff;
	font-size:18px;

}

.banner-ubication h1 span  {

	font-family:raleway-bold;
}


.banner-ubication button {

	padding-left:3%;
	padding-right:20%;
	padding-top:3%;
	padding-bottom:3%;
	background: rgba(255, 255, 255, 0.3);
	border:2px solid #fff;
	border-radius:30px;
}

.banner-ubication button:hover {

	background:#0586EA;
	border-color:#0586EA;
	transition:1s ease-out;
}


.banner-ubication button a {

	font-family:raleway;
	color:#fff;
	font-size:18px;
	text-decoration:none;
}

.banner-ubication button a span {

	position:relative;
	left:50%;
}

* {
            box-sizing: border-box
        }
        html, body {
            width: 100%;

        }

        .glider-contain {
            width: 90%;
            max-width: 997px;
            margin: 0 auto;
        }
        .glider-slide {
            min-height: 150px;
        }
        .glider-slide img {
            width: 100%;
        }

.icons {
    width:100%;
    text-align: center;
    position: relative;
    left: 5%;
}

.icon-certificate {

filter:grayscale(100%);
width:auto;
transition:1s ease-out;

}

.icon-certificate:hover {

	filter:grayscale(0%);
	transition:1s ease-out;
}

.contact-form {

	width:180%;
	position:relative;
	left:-35%;
	background-image:url("../img/jelly.jpg");
	padding-top:5%;
	padding-bottom:5%;
	padding-left:20%;
	padding-right:3%;
	font-family:raleway;
}

.contact-title {

	color:#fff;
}



.contact-form h1 span {

	font-family:raleway-bold;
}


.name, .email {

	width:30%;
	margin-bottom:2%;
	padding-top:1%;
	padding-bottom:1%;
	padding-left:1%;
	border:none;
	border-radius:5px;

}

.message {

	width:50%;
	height:100px;
	position:relative;
	left:35%;
	top:-180px;
	margin-bottom:2%;
	padding-top:1%;
	padding-bottom:1%;
	padding-left:1%;
	border:none;
	border-radius:5px;
}

.submit {

	width:10%;
	padding-top:1%;
	padding-bottom:1%;
	padding-right:5%;
	padding-left:1%;
	position:relative;
	top:-80px;
	left:20%;
	background:transparent;
	border:2px solid #fff;
	border-radius:15px;
	color:#fff;
}

.submit:hover {

 background:#fff;
 color:#ADDFEA;
 transition:1s ease-out;
}

.text-content {

    color: #000;
    font-family: raleway;
    text-align: center;
    width: 100%;
    padding-left: 2%;
    padding-right: 28%;
}

.title-content {

	color:#0586EA; 

}

.text-content h1 span {

 font-family:raleway-bold;
 
}

.text-content-2 {

	color:#000; 
	font-family:raleway;
	text-align:center;
	width:100%;
	padding-left:25%;
	padding-right:25%;
}

.title-content-2 {

	color:#0586EA; 

}

.text-content-2 h1{

 font-family:raleway-bold;
 
}


footer {

	width: 290%;
    position: relative;
    left: -35%;

	background:#eee;
}



.columns-footer > li {

	list-style:none;
	display:inline-block;
	padding-right:5%;
}

.columns-footer li ul {

	list-style:none;
}

.social-media ul li {

	display:inline-block;
}

.social-media, .news, .quality {

	position:relative;
	top:-105px;
}

.Services-footer {

	position:relative;
	top:-30px;
}

.aboutus-footer {

	position:relative;
	top:-20px;
}

.description-point {

	width:100%;
    background:transparent;
    font-family:raleway;
    padding-left:10%;
}

.icon-description {

	width:30%;
}

.title-about {

	font-weight:bold;
	font-size:18px;
}

.description-about {

 padding-right:10%;

}



.readmore-about {

	color:#09B4F9;
	font-family:raleway-bold;
	font-size:16px;
}

.image-banner {

	background-image:url('../img/campo.jpg');
	width:90%;
	height:500px;
}


.image-banner:hover {

	background:#0586EA;
	transition:1s ease-out;
}

.text-content-banner {

	padding-top:60%;
	padding-left:5%;
	padding-right:30%;
	text-align:left;
	font-family:raleway;
	color:#fff;
}

.readmore-image-banner {

    width:12%;
    height: 44px;
    -moz-border-radius: 90%;
    -webkit-border-radius: 90%;
    border-radius: 90%;
	background:transparent;
	border:2px solid #fff;
	border-radius:130px;
    position:relative;
    left:70%;
    top:-70px;



}


.readmore-image-banner a{

	font-family:raleway-bold;
	color:#fff;
	text-decoration:none;
	font-size:18px;
}

.nav-wrapper-menu {

	display:none;
}

.icon-company {

	position:relative;
	left:-28%;
	top:10px;
}



.nav-menu {

	width:100%;
	height:100px;
	background:rgba(255, 255, 255, 0.9);
	position:relative;
	z-index:9999999999;

}

.nav-menu ul {
		display: flex;
		padding: 0;
		margin: 0;
		list-style: none;

	}
	.nav-menu a {
		display: block;
		padding: 2em;
		padding-bottom: 52px;
		text-decoration: none;
		color: #191C26;
		font-family:raleway;
		font-weight:bold;
	}

	.nav-menu a:hover {
		background-color: #ADDFEA;
		transition:1s ease-out;

	}

	.sub-menu > li {

	  width:8%;
	}

	.sub-menu li ul > li a {

	 width:100%;
	 background:rgba(255, 255, 255, 0.9);

	}



	.nav-menu ul li ul {
		display: none;
	}
	.nav-menu ul li a:hover + ul, .nav-menu ul li ul:hover {
		display: block;
	}

.sub-menu {

	position:relative;
	left:30%;
}



/*-------------- menu wrapper ------------*/


@media screen and (max-width:800px ){

html {

	overflow-x:hidden;
}

.wrapper-icon-company {

	width:50%;
	position:relative;
	left:20%;
}

.wrapper-icon {

	width:10%;
	position:relative;
	left:30%;
	top:-10px;
}

.nav-menu {

	display:none;

}

.nav-wrapper-menu {

	display:block;
	background:rgba(255, 255, 255, 0.9);

}

.sub-wrapper-menu {

	display:none;
}


.nav-wrapper-menu {

	width:100%;
	height:100px;
}

.nav-wrapper-menu ul {

	padding: 0;
	margin: 0;
	position:relative;
	top:15px;
	list-style:none;
}


.nav-wrapper-menu ul > li {

	width:100%;
	padding-top:5%;
	padding-bottom:5%;
	padding-left:10%;
	background:rgba(255, 255, 255, 0.9);
	border-bottom:1px solid #BEBFBF;

}

.nav-wrapper-menu ul li a {

	font-family:raleway;
	font-weight:bold;
	text-decoration:none;
}

.nav-wrapper-menu ul li ul {

	display:none;
	position:relative;
	top:-3px;

}

.nav-wrapper-menu ul li ul > li {

	background:transparent;
	border-bottom:none;
}

.nav-wrapper-menu ul li ul li a {

	color:#ADDFEA;
}

.nav-wrapper-menu ul li a:focus + ul, .nav-wrapper-menu ul li ul:focus{

	display:block;
}



}

-


.principal-banner {

	position:relative;
	    top: -95px;
}

.text-content {

	text-align:center;
}


.aboutus-section {

	width:100%;
	padding-top:5%;
	padding-bottom:5%;
	background:#F5F5F5;
	margin-top: 5%;

}

.product-banner {

	position:relative;

}


.product-banner-right {

	position:relative;
	
}

.brands {

	position:relative;

}

.news-banner {

	width:144%;

}

.news-banner ul li {

	list-style:none;
	display:inline-block;
	position:relative;
	left:-8%;
}

.log-certificates {

	width:100%;
}

.log-certificates ul li {

 list-style:none;
 display:inline-block;
 position:relative;
 left:13%;

}

.ubication iframe {

	width:100%;
	height:500px;
}

.information {

	background:#51B3F7;
	width:100%;
	height:900px;
	font-family:raleway;
	color:#fff;
}

.information h1  {

	font-family:raleway-bold;
	font-size:48px;
}

.address {

	font-size:20px;
	margin-top:10%;
}

.text-information {

	padding-left: 14%;
    padding-right: 23%;
    padding-top: 24%;
}

.information img {

	width: 42px;
}

.phone-information ul {

	list-style:none;
	position:relative;
	left:5%;
	top:-40px;

}

.email-information p {

	position:relative;
	left:15%;
	top:-30px;
}

.social-media-information img {

	width:20px;
}

.social-media-information ul {

	list-style:none;
	position:relative;
	left:20%;
	top:-45px;

}

.social-media-information ul li {

	display:inline-block;
	padding-right:5%;
}

.banner-products {

	width:100%;
	height:950px;
	background-image:url("img/valentine.jpg");
	font-family:raleway;
	color:#fff;


}

.banner-products h1 {

	font-size:46px;
}

.banner-products span  {

	font-size:66px;
	font-family:raleway-bold;

}

.banner-products p {

	font-size:20px;
}

.banner-products button {

	padding-top:2%;
	padding-right:15%;
	padding-left:1%;
	padding-bottom:2%;
	background:rgba(255, 255, 255, 0.2);
	border:2px solid #fff;
	border-radius:30px;
	color:#fff;
}

.banner-info {

	padding-left:5%;
	padding-right:58%;
	padding-top:15%;
}

.image-banner {

	margin-top:20%;
}

.float {

	margin-top:40%;
}

.text-content {

	padding-top:5%;
	padding-bottom:5%;
}

.call-to-action {

	width:100%;
	height:400px;
	background-image:url("img/caramel.jpg");
	font-family:raleway;
	color:#000;



}

.callto-info {

	text-align:center;
	padding-top:5%;
	padding-left:30%;
	padding-right:30%;
	font-size:20px;
}

.callto-info h1 {

	font-family:raleway-bold;
	font-size:50px;
}

.callto-info button {

	padding-top:1%;
	padding-right:15%;
	padding-left:1%;
	padding-bottom:1%;
	background:rgba(255, 255, 255, 0.2);
	border:2px solid #000;
	border-radius:30px;
	color:#000;
}

.log-certificates {

	position:relative;
	left:15%;
}

/*------------------SERVICES----------*/

.banner-services {

	width:108%;
	height:950px;
	background-image:url("img/valentine.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	font-family:raleway;
	color:#0F95F1;


}

.banner-services h1 {

	font-size:76px;
}

.banner-services span  {

	font-family:raleway-bold;

}

.subtitle-banner {

	padding-bottom:2%;
}

.subtitle-banner span {

	font-family:raleway;
}

.icon-banner {
    width: 8%;
}


.banner-services p {

	font-size:35px;
	font-family:raleway-bold;
	position: relative;
    left: 12%;
    top: -51px;
}

.contact-us-button {

	padding-top:2%;
	padding-right:15%;
	padding-left:2%;
	padding-bottom:2%;
	background:rgba(255, 255, 255, 0.2);
	border:2px solid #000;
	border-radius:30px;
	color:#000;
}

.banner-info-services {

	padding-left:5%;
	padding-right:58%;
	padding-top:10%;
}

.col-md-6.icon-title-content {
    max-width:8%;
}

.col-md-6.product-image-list img {

	width:92%;

}

.product-list-description {

	margin-top: 105px;
}

.col-md-6.product-content-description {

	background: rgba(235, 236, 238, 0.4);
    max-width: 50%;
    height: 618px;
    position: relative;
    top: -51px;
    left: -23%;
}

.content-description-text {

	padding-top: 9%;
    padding-left: 8%;
    padding-right: 15%;
}


@media screen and (max-width:800px ){

	.readmore-banner button {

		padding-top:1%;
	}
}
