body {

	margin:0px;
}

.principal-banner {

	position:relative;
	    top: -95px;
}

.text-content {

	text-align:center;
}

.description-point ul {

	position:relative;
	left:10%;
}

.description-point ul li {

	list-style:none;
	display:inline-block;

}

.aboutus-section {

	width:100%;
	padding-top:5%;
	padding-bottom:5%;
	position:relative;
	top:-30px;
	background:#F5F5F5;

}

.product-banner {

	position:relative;

}


.product-banner-right {

	position:relative;
	
}

.brands {

	position:relative;

}

.news-banner {

	width:144%;

}

.news-banner ul li {

	list-style:none;
	display:inline-block;
	position:relative;
	left:-8%;
}

.log-certificates {

	width:100%;
}

.log-certificates ul li {

 list-style:none;
 display:inline-block;
 position:relative;
 left:13%;

}

.ubication iframe {

	width:100%;
	height:600px;
}


@media screen and (max-width:800px ){

	.readmore-banner button {

		padding-top:1%;
	}
}








