@font-face {

	font-family:raleway;
	src:url('../Fonts/Raleway-Light.ttf');
}

@font-face {

	font-family:raleway-bold;
	src:url('../Fonts/Raleway-ExtraBold.ttf');
}


/*------------------------------------*/

body {

  margin:0px;
}

.product-list-description {

    
	width:100%;
}

.product-content-description {

	width:50%;
	height:800px;
	position:relative;
	z-index:2;
	top: 760px;
    left: 35%;
	background-color: rgba(232, 234, 236, 0.4);
}


.content-description-text {

    width:70%;
	padding-top:2%;
	padding-right:8%;
	padding-left:7%;
	height:200px;
	position:relative;
	text-align:justify;
	background:transparent;
	font-family:raleway;
	font-weight:bold;
	font-size:18px;
}

.content-description-text h1 {

    color:#03A2E3;
	font-size:38px;
}

.product-title-list span {


	font-family:raleway-bold;
}

.product-image-list{

 position:relative;
	z-index:1;
 
}
.product-image-list img {
 
	width:50%;
	
}

.product-list-description-float {

    
	width:100%;
}

.product-content-description-float {

	width:50%;
	height:800px;
	position:relative;
	z-index:2;
	top: 760px;
    left: 25%;
	background-color: rgba(232, 234, 236, 0.4);
}


.content-description-text-float {

    width:70%;
	padding-top:2%;
	padding-right:8%;
	padding-left:7%;
	height:200px;
	position:relative;
	text-align:justify;
	background:transparent;
	font-family:raleway;
	font-weight:bold;
	font-size:18px;
}

.content-description-text-float h1 {

    color:#03A2E3;
	font-size:50px;
	position: relative;
    left: 14%;
    top: -89px;
}

.product-title-list-float span {


	font-family:raleway-bold;
}

.product-image-list-float{

 position:relative;
	z-index:1;
 
}
.product-image-list-float img {
 
	width:50%;
	float:right;
	
}

.icon-title-content {

	width:12%;
	position:relative;
	top:25px;
}

