
@font-face {

	font-family:raleway;
	src:url('../Fonts/Raleway-Light.ttf');

}

@font-face {

	font-family:raleway-bold;
	src:url('../Fonts/Raleway-ExtraBold.ttf');

}

/*----------------------------------*/

.image-banner {

	background-image:url('../img/descargar.png');
	width:80%;
	height:600px;
	position: relative;
    left: 10%;
}


.image-banner:hover {

	background:#ADDFEA;
	transition:1s ease-out;
}

.text-content-banner {

    background:rgba(255, 255, 255, 0.5);
    padding-top:5%;
	padding-left:5%;
	padding-right:30%;
	padding-bottom:8%;
	text-align:left;
	font-family:raleway-bold;
	color:#000;
	position:relative;
	top:480px;
}

.readmore-image-banner {

    padding-top:2%;
	padding-right:15%;
	padding-left:1%;
	padding-bottom:2%;
	background:rgba(255, 255, 255, 0.2);
	border:2px solid #000;
	border-radius:30px;
	color:#000;

}


.readmore-image-banner a{

	font-family:raleway-bold;
	color:#000;
	text-decoration:none;
	font-size:12px;
	position:relative;
	left:10%;
}