@font-face {

	font-family:raleway;
	src:url('../Fonts/Raleway-Light.ttf');
}

@font-face {

	font-family:raleway-bold;
	src:url('../Fonts/Raleway-ExtraBold.ttf');
}

.contact-form {

	width:180%;
	position:relative;
	left:-35%;
	background-image:url("../img/jelly.jpg");
	padding-top:5%;
	padding-bottom:5%;
	padding-left:20%;
	padding-right:3%;
	font-family:raleway;
}

.contact-title {

	color:#fff;
}



.contact-form h1 span {

	font-family:raleway-bold;
}


.name, .email {

	width:30%;
	margin-bottom:2%;
	padding-top:1%;
	padding-bottom:1%;
	padding-left:1%;
	border:none;
	border-radius:5px;

}

.message {

	width:50%;
	height:100px;
	position:relative;
	left:35%;
	top:-180px;
	margin-bottom:2%;
	padding-top:1%;
	padding-bottom:1%;
	padding-left:1%;
	border:none;
	border-radius:5px;
}

.submit {

	width:10%;
	padding-top:1%;
	padding-bottom:1%;
	padding-right:5%;
	padding-left:1%;
	position:relative;
	top:-80px;
	left:20%;
	background:transparent;
	border:2px solid #fff;
	border-radius:15px;
	color:#fff;
}

.submit:hover {

 background:#fff;
 color:#ADDFEA;
 transition:1s ease-out;
}