@font-face {

	font-family:raleway;
	src:url('../Fonts/Raleway-Light.ttf');
}	

@font-face {

	font-family:raleway-bold;
	src:url('../Fonts/Raleway-ExtraBold.ttf');
}	


/*----------------------*/

html {

	overflow-x:hidden;
}

body {

	margin:0px;


}


.banner-ubication {

	width:168%;
	margin:0px;
	position:relative;
	left:-35%;
	height:800px;
	background-image:url("../img/nasa.jpg");
	
}

.banner-content {

	padding-top:12%;
	padding-left:60%;
	padding-right:12%;
	width:100%;
	font-family:raleway;
	color:#fff;
	font-size:18px;

}

.banner-ubication h1 span  {

	font-family:raleway-bold;
}


.banner-ubication button {

	padding-left:3%;
	padding-right:20%;
	padding-top:3%;
	padding-bottom:3%;
	background: rgba(255, 255, 255, 0.3);
	border:2px solid #fff;
	border-radius:30px;
}

.banner-ubication button:hover {

	background:#0586EA;
	border-color:#0586EA;
	transition:1s ease-out;
}


.banner-ubication button a {

	font-family:raleway;
	color:#fff;
	font-size:18px;
	text-decoration:none;
}

.banner-ubication button a span {

	position:relative;
	left:50%;
}


